<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="assets/css/mainPage.css">

    <!-- Google Fonts -->
    <link href='' rel='stylesheet' type='text/css'>
    <link href='assets/css/Oxygen.css' rel='stylesheet' type='text/css'>

    <title>Admin</title>
</head>

<body class="bodybg">
    <div class="container">
        <div class="main">
            <div class="panel-heading">
                <div class="page-title text-center">
                    <h1 class="title">કૌન બનેગા સમ્યક્જ્ઞાની</h1>
                    <hr />
                    <h2 class="well title">Fastest Finger First</h2>
                </div>
            </div>
            <div class="form-control">
                Welcome <%= data.name %>!
            </div>
            <div class="well">
                Question
            </div>
            <form method="post" action="index2.html">
                <div <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon ct" id="basic-addonA">A</span>
                                <input type="text" class="form-control" placeholder="Answer A" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon ct" id="basic-addonB">B</span>
                                <input type="text" class="form-control" placeholder="Answer B" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon ct" id="basic-addonC">C</span>
                                    <input type="text" class="form-control" placeholder="Answer C" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon ct" id="basic-addonD">D</span>
                                    <input type="text" class="form-control" placeholder="Answer D" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-2 col-xs-6">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">First <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">A</a></li>
                                        <li><a href="#">B</a></li>
                                        <li><a href="#">C</a></li>
                                        <li><a href="#">D</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Second <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">A</a></li>
                                        <li><a href="#">B</a></li>
                                        <li><a href="#">C</a></li>
                                        <li><a href="#">D</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Third <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">A</a></li>
                                        <li><a href="#">B</a></li>
                                        <li><a href="#">C</a></li>
                                        <li><a href="#">D</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forth <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">A</a></li>
                                        <li><a href="#">B</a></li>
                                        <li><a href="#">C</a></li>
                                        <li><a href="#">D</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script src="assets/js/index3.js"></script>
</body>

</html>