
.bodybg {
  /* background-color: #0f3c4f; */
  background-image: url("../images/rulebg7.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.well-title {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

.well-ans {
  background-color: rgba(44, 206, 73, 0.25);
  color: white;
}

.ans-padding{
    padding: 10px 30px;
}

.h1-title {
  font-size: 60px;
  font-family: 'gujFont';
  font-weight: 400;
  color: white;
  text-shadow: 3px 5px black;
}

.main-login
{
    max-width: 330px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}

.bot-pad{
    margin-bottom: 10px;
}

@font-face {
    font-family: gujFont;
    src: url(../fonts/S1120892_2.woff);
    font-weight: normal;
    font-style: normal;
    /* url(../fonts/S1120892_2.TTF) format('truetype'), */
}

.gujju{
  font-family: "gujFont";
}

@media (max-width: 768px) {
  .botpad {
    margin-bottom: 10px;
  }
}


/* 
textarea{  
  display:block;
  box-sizing: padding-box;
  overflow:hidden;

  padding:10px;
  width:250px;
  font-size:14px;
  margin:50px auto;
  border-radius:6px;
  box-shadow:2px 2px 8px rgba(0,0,0,.3);
  border:0;
} */